<p>header works!</p>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid singleRow">
        <div class="singleRow">
            <h4>INSTANTADCOPY</h4>
            <input type="search" class="form-control searchWidth" id="pwd" placeholder="Enter Personal work website" name="pwd"> 
        </div>
         <div class="singleRow headerPosistion ">
        <button>Add new Gig</button>
        <button>Selling</button>
        <button>Buying</button>
        <button>Dp</button>
       </div>
        
      </div>
    </nav>
    <!-- Navbar -->
  </header>